$font: "Poppins", Helvetica, Arial, sans-serif;
$font-medium: "Poppins-medium", Helvetica, Arial, sans-serif;

$main-color: #e79d76;
$text-color: #5f5a5a;

$fz: 16px;
$fz-md: 14px;
$fz-xs: 12px;
$fz-xxs: 10px;